<!DOCTYPE html>
<html>
<head>
<div th:replace="fragments/link-css-bootstrap-javascripts :: link" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="hero-unit">
			<h1>Test</h1>
			<p>Welcome to the Spring MVC Quickstart application! Get started
				quickly by signing up.</p>
			<p>
				<a href="/login" th:href="@{/login}"
					class="btn btn-large btn-success">Sign up</a>
			</p>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2016 The
			Static Templates</div>
	</div>
</body>
</html>